.intro__subtitle {
  grid-area: subtitle;
  margin: 0;
  align-self: end;
  font-size: 19px;
  font-style: normal;
  padding-left: 106px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #f5cfb9;
}

@media screen and (max-width: 1024px) {
  .intro__subtitle {
    padding-left: 64px;
  }
}

@media screen and (max-width: 812px) {
  .intro__subtitle {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .intro__subtitle {
    padding-left: 6px;
  }
}
