.header__complain {
  text-decoration: none;
  font-size: 21px;
  padding-right: 101px;
  color: black;
  transition: .1s linear;
}

.header__complain:hover {
  opacity: 0.5;
  transition: .5s linear;
}

@media screen and (max-width: 768px) {
  .header__complain {
    padding-right: 0px;
  }
}

@media screen and (max-width: 425px) {
  .header__complain {
    margin-left: 20px;
    margin-top: 3px;
  }
}
