.people__subtitle {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: -1px;
  color: #f5cfb9;
  text-transform: uppercase;
  margin-left: 101px;
}

@media screen and (max-width: 1280px) {
  .people__subtitle {
    margin-right: 54px;
  }
}

@media screen and (max-width: 1115px) {
  .people__subtitle {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1115px) {
  .people__subtitle {
    margin-left: 45px;
  }
}

@media screen and (max-width: 640px) {
  .people__subtitle {
    margin-left: 38px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .people__subtitle {
    margin-left: 36px;
  }
}

@media screen and (max-width: 320px) {
  .people__subtitle {
    margin-left: 10px;
  }
}
