.header {
  max-width: 1920px;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 74px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
  }
}
