.intro {
  max-width: 1920px;
  display: grid;
  gap: 0px 40px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 191px auto;
  grid-template-areas:
    "subtitle image"
    "title  image";
}

@media screen and (max-width: 852px) {
  .intro {
    gap: 0px 0px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
