@import url(../vendor/fonts/font.css);

.body {
  background-color: #ffffff;
  margin: 0px;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1920px;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
}

.header {
  max-width: 1920px;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 74px;

}

.header__list {
  max-width: 1920px;
  padding: 0px;
  margin: 0px;
  display: flex;
  padding-left: 73px;
}

.header__list-item {
  font-size: 21px;
  list-style: none;
}

.header__list-item:nth-child(1) {
  padding-left: 28px;
}

.header__list-item:nth-child(2) {
  padding-left: 52px;
}

.header__list-item:nth-child(3) {
  padding-left: 51px;
}

.header__list-link {
  text-decoration: none;
  font-size: 21px;
  color: black;
}

.header__complain {
  text-decoration: none;
  font-size: 21px;
  padding-right: 101px;
  color: black;
}

.content {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin-top: 126px;
}

.intro {
  max-width: 1920px;
  display: grid;
  gap: 0px 48px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 191px auto;
  grid-template-areas:
    "subtitle image"
    "title  image";
}

.intro__subtitle {
  grid-area: subtitle;
  margin: 0;
  align-self: end;
  font-size: 19px;
  font-style: normal;
  padding-left: 107px;
  font-weight: 600;
  color: #f5cfb9;
}

.intro__title {
  grid-area: title;
  margin: 0;
  font-size: 50px;
  padding-left: 105px;
  padding-top: 46px;
}

.intro__image {
  grid-area: image;
  width: 532px;
  height: 530px;
  object-fit: cover;
}

.places {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.place:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "image title"
  "image paragraph"
  "image paragraph"
}

.place:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "title image"
  "paragraph image"
  "paragraph image"
}

.place:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "image title"
  "image paragraph"
  "image paragraph"
}

.place__title {
  grid-area: title;
}

.place__image {
  grid-area: image;
}

.place__paragraph {
  grid-area: paragraph;
}

.place__paragraph-text {

}

.people {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.people__subtitle {

}

.people__title {

}

.people__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "title title title title"
  "text text text text"
}

.people__card {

}

.people__title {
  grid-area: title;
}

.people__text {
  grid-area: text;
}
