@import url(../vendor/fonts/font.css);

.body {
  background-color: #ffffff;
  margin: 0px;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1920px;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
}

.header {
  max-width: 1920px;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 74px;

}

.header__list {
  max-width: 1920px;
  padding: 0px;
  margin: 0px;
  display: flex;
  padding-left: 73px;
}

.header__list-item {
  font-size: 21px;
  list-style: none;
}

.header__list-item:nth-child(1) {
  padding-left: 28px;
}

.header__list-item:nth-child(2) {
  padding-left: 52px;
}

.header__list-item:nth-child(3) {
  padding-left: 51px;
}

.header__list-link {
  text-decoration: none;
  font-size: 21px;
  color: black;
  transition: .1s linear;
}

.header__list-link:hover {
  opacity: 0.5;
  transition: .5s linear;
}

.header__complain {
  text-decoration: none;
  font-size: 21px;
  padding-right: 101px;
  color: black;
  transition: .1s linear;
}

.header__complain:hover {
  opacity: 0.5;
  transition: .5s linear;
}

.content {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin-top: 126px;
}

.intro {
  max-width: 1920px;
  display: grid;
  gap: 0px 40px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 191px auto;
  grid-template-areas:
    "subtitle image"
    "title  image";
}

.intro__subtitle {
  grid-area: subtitle;
  margin: 0;
  align-self: end;
  font-size: 19px;
  font-style: normal;
  padding-left: 106px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #f5cfb9;
}

.intro__title {
  grid-area: title;
  margin: 0;
  font-size: 50px;
  padding-left: 105px;
  padding-top: 41px;
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.intro__image {
  grid-area: image;
  width: 532px;
  height: 530px;
  object-fit: cover;
}

.places {
  margin: 0;
  max-width: 1920px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin-top: 193px;
}

.place:nth-child(1) {
  gap: 0px 0px;
  display: grid;
  grid-template-columns: auto 953px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "image title"
    "image paragraph";
}

.place:nth-child(2) {
  gap:62px 0px;
  display: grid;
  grid-template-columns: 952px auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "title image"
  "paragraph image"
}

.place:nth-child(3) {
  gap: 0px 0px;
  display: grid;
  grid-template-columns: auto 953px;
  grid-template-rows: auto 581px;
  grid-template-areas:
    "image title"
    "image paragraph";
}

.place__title {
  grid-area: title;
  margin: 0;
  font-size: 48px;
  padding-top: 93px;
  padding-left: 108px;
  letter-spacing: 1.0px;
}

.place__image {
  grid-area: image;
  margin: 0;
  width: 952px;
  height: 793px;
  object-fit: cover;
}

.place__paragraph {
  grid-area: paragraph;
  padding-top: 121px;
  padding-left: 105px;
  margin: 0;
}

.place__paragraph-text {
  font-size: 20px;
  margin: 0;
  padding-top: 33px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.people {
  margin: auto;
  margin-left: 102px;
  display: flex;
  flex-direction: column;
  margin-top: 205px;
}

.people__subtitle {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: -1px;
  color: #f5cfb9;
  text-transform: uppercase;
}

.people__title {
  margin: 0;
  font-size: 50px;
  padding-top: 41px;
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.people__cards {
  display: grid;
  grid-template-columns: 396px 425px 396px 501px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "title title title title"
  "text text text text";
  margin-top: 176px;
  margin-right: 0px;
}

.people__card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;

}

.people__card:nth-child(2) {
  margin-left: 50px;
}

.people__card:nth-child(3) {
  margin-left: 70px;
}

.people__card:nth-child(4) {
  margin-left: 119px;
}

.people__card-title {
  grid-area: title;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.people__card-text {
  grid-area: text;
  margin: 0;
  padding-top: 38px;
  font-size: 21px;
  letter-spacing: 1.1px;
  line-height: 30px;
}

.footer {
  margin-top: 186px;
  display: flex;
  max-width: 1920px;
  min-width: 320px;
  height: 922px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #f5cfb9;
}

.footer__copyright {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}
