.intro__image {
  grid-area: image;
  width: 532px;
  height: 530px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .intro__image {
    width: 100%;
    min-width: 320px;
    margin-top: 60px;
  }
}
